*{
    padding: 0 auto;
    margin: 0 auto;
    font-family: 'Times New Roman';
    
}

#contenedor{
    width: 900px;
    height: 1000px;
    background-color: bisque;
    padding-top: 15px;
    padding-bottom: 90px;
    border: 2px solid black;
}

#cabecera{
    display: block;
    height: 15%;
    text-align: center;
    background-color: rgb(3, 189, 3);
    margin: .7em;
    padding: .7em;
    border: 2px solid black;
}

#barra{
    height: 5%;
    text-align: center;
    background-color: rgb(3, 189, 3);
    margin: .7em;
    border: 2px solid black;
}

#contenido{
    height: 70%;
    background-color: whitesmoke;
    margin: .7em;
    border: 2px solid black;
    text-align: center;
}

#footer{
    height: 10%;
    text-align: center;
    background-color: red;
    margin: .7em;
    overflow: hidden;
    border: 2px solid black;
}



img{
    width: 100px;
    height: 100px;
}

li{
    display: inline-block;
    text-align: center;
    padding: .5em;
}

ul{
    display: inline-block;
}

.titulo{
    margin: 1em;
}

.texto{
    margin: .5em;
    border: 2px solid black;
    text-align: justify;
}

/* CALANDO LOS COMMITS*/